body {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
:root {
    --main-transition: 0.3s;
}
.color-red {
    color: #AD343E;
}
.heading-section {
    font-family: Playfair Display;
    text-align: center;
    margin: 30px 20px;
    font-size: 50px;
}
@media(max-width: 767px) {
    .heading-section {
        font-size: 30px !important;
        margin: 20px 15px;
    }
    .display-2 {
        font-size: calc(1.5rem + 3.9vw);
    }
    .p-section {
        width: 100% !important;
        font-size: small !important;
        padding: 0.5rem !important;
    }
}
nav {
    background-color: #f9f9f7;
}
nav .container .logo div img.lo {
    width: 180px;
    margin-left: -20px;
}
.card .card-image img {
    max-width: 90%;
}
.top {
    background-color: #474747;
    padding: 10px 0;
}
.top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.top .contact {
    display: flex;
    gap: 20px;
    color: #f9f9f7;
}
.top .contact p {
    margin: 0;
}
.top .contact p i {
    margin-right: 10px;
}
.top ul {
    margin: 0;
}
/* Start Footer */
footer {
    background-color: #474747;
    padding: 5rem 0 3rem;
    font-size: medium;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px;
}
footer .box .logo {
    display: flex;
    margin: 30px 0;
}
footer .box .logo img {
    width: 70%;
}
footer .box .logo img.tea {
    width: 18%;
    margin-right: -20px;
}
footer h4 {
    color: white;
    padding: 20px 0;
    font-size: 18px;
}
footer .box .social,
.top .social {
    display: flex;
    padding-left: 0 !important;
}
footer .box .social li {
    margin-right: 12px;
}
.top .social li {
    margin-right: 6px;
}
footer .box .social li a,
.top .social li a {
    background-color: #AD343E;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    border-radius: 50%;
}
footer .box .social li a {
    background-color: #AD343E;
    color: white;
    width: 35px;
    height: 35px;
}
.top .social li a {
    color: white;
    background-color: rgba(255, 255, 255, 0.13);
    width: 30px;
    height: 30px;
}
footer .box .social li a:hover,
.top .social li a:hover {
    background-color: #adb29e9c;
}
footer .box .text {
    line-height: 2;
    color: #ADB29E;
    margin: 20px 0;
}
footer .box .links {
    padding-left: 0;
}
footer .box .links li {
    padding: 10px 0;
    transition: var(--main-transition);
}
footer .box .links li a:hover {
    padding-left: 10px;
}
footer .box .links li a {
    color: #DBDFD0;
    width: fit-content;
    transition: var(--main-transition);
}
footer .box .links li:hover a {
    color: white;
}
footer .footer-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* margin: 0 30px; */
    /* width: 300px !important; */
}
footer .footer-images img {
    border-radius: 6px;
    width: 45%;
}
footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
}
@media (max-width: 767px) {
    footer {
        text-align: center;
    }
    footer .container {
        gap: 5px;
    }
    footer .social {
        justify-content: center;
    }
    footer .box .line {
        flex-direction: column;
    }
    footer .box .line i {
        margin-bottom: 10px;
    }
}
/* End Footer */
.hero .content {
    width: 35%;
}
.hero .content .btns{
    gap:20px;
}
.hero .content h1 {
    font-family: 'Playfair Display', serif;
}
@media (max-width: 991px) {
    .browse .container .boxes .box {
        width: 47% !important;
    }
    .browse .container .boxes{
        flex-wrap: wrap;
    }
    .hero .content {
        width: 50% !important;
    }
    .healthy .container {
        gap: 1rem !important;
        flex-direction: column-reverse;
    }
    .healthy .container .image {
        height: 36rem !important;
    }
    .healthy .container .image img {
        width: 35rem !important;
    }
    .services .boxes {
        flex-wrap: wrap;
    }
    .services .box {
        width: min-content !important;
    }
    .brands .container {
        flex-direction: column;
    }
    .brands .content {
        width: 100% !important;
    }
    .brands .content p {
        width: 100% !important;
    }
    .video .container {
        width: 80% !important;
    }
    .features .boxes {
        flex-wrap: wrap;
    }
    .test .boxes {
        flex-wrap: wrap;
    }
    .test .box {
        width: 48% !important;
    }
    .info .container {
        flex-direction: column;
    }
    .info .container p {
        text-align: center;
    }
    .info .container > div,
    .contact-info .container > div {
        width: 100% !important;
    }
    .info .image {
        display: none;
    }
    .contact-page form,
    .book-page form {
        width: 100% !important;
        margin: 1rem !important;
    }
    .contact-info .container {
        width: 100% !important;
    }
    .dash-btns .container div {
        width: 100% !important;
    }
    .dash-btns canvas {
        height: 70vh !important;
    
    }
}
@media(max-width: 767px) {
    .top .contact {
        flex-direction: column;
        font-size: x-small;
        gap: 5px;
    }
    .navbar .logo div {
        width: 10rem;
    }
    .navbar .logo div img:nth-of-type(1) {
        width: 2rem;
    }
    .navbar .logo div img.lo {
        width: 8rem !important;
    }
    .navbar .btns a {
        padding: 6px !important;
        font-size: 0.6rem;
        border-width: 1px !important;
    }
    .hero .content {
        width: 80% !important;
    }
    .hero .content p {
        font-size: 12px;
    }
    .hero .hero-img img {
        height: 100vh !important;
        max-width: 1000% !important;
    }
    .hero div a {
        margin-left: 1rem !important;
        padding: 2px 7px !important;
    }
    .hero div a i {
        font-size: 1rem;
    }
    .hero .content a {
        width: 25% !important;
        padding: 6px !important;
        font-size: 0.6rem;
    }
    .hero .content .btns {
        gap: 3px;
    }
    .browse .boxes {
        flex-direction: column;
    }
    .browse .container .boxes .box{
        width: 100% !important;
    }
    .healthy .container {
        flex-direction: column-reverse;
        gap: 1rem !important;
    }
    .healthy .container .images {
        width: fit-content;
    }
    .healthy .container .images .image img {
        width: 20rem !important;
    }
    .healthy .container .images .image {
        width: 22.5rem !important;
        height: 23rem !important;
    }
    .healthy .container .images .info{
        font-size: 12px !important;
    }
    .healthy .container .content a {
        display: block;
    }
    .services .container .boxes {
        flex-wrap: wrap;
    }
    .services .container .boxes .box{
        width: min-content;
    }
    .video div:not(.container) img {
        width: 1200px !important;
        height: 100vh;
    }
    .video .container {
        width: 100% !important;
    }
    .video .container img {
        width: 5rem !important;
    }
    .features .boxes {
        flex-direction: column;
    }
    .info .container {
        flex-direction: column;
    }
    .info .container > div,
    .contact-info .container > div {
        width: 100% !important;
    }
    .info .image {
        text-align: center;
    }
    .test .container .boxes {
        flex-direction: column;
    }
    .test .box {
        width: 100% !important;
    }
    .brands .container {
        flex-direction: column;
    }
    .brands .container .images {
        flex-direction: column !important;
    }
    .brands .container .images div {
        gap: 1rem !important;
        flex-wrap: wrap !important;
    }
    .brands .container .content {
        width: 100% !important;
    }
    .details .container h1 {
        width: 22rem !important;
    }
    .details .container .info {
        padding: 1rem 0 !important;
    }
    .details .container .info p {
        padding-bottom: 2rem !important;
    }
    .contact-info .container,
    .book-info .container {
        width: 100% !important;
        flex-direction: column;
    }
    .contact-page form,
    .book-page form {
        width: 100% !important;
        margin: 0 !important;
    }
    .contact-page form .container div,
    .book-page form .container div {
        flex-direction: column;
    }
    .contact-page form .container div div,
    .book-page form .container div div {
        width: 100% !important;
    }
    .nots {
        width: 75% !important;
        font-size: 12px !important;
    }
    .nots .notification {
        left: 1rem !important;
        top: 3rem !important;
        width: 100% !important;
    }
    .nots .noti {
        margin: 0 !important;
    }
    .profile .container .row {
        padding: 0 10px !important;
    }
    .profile .info-label,
    .profile .infoo {
        width: 50% !important;
    }
    .update-profile #info-label {
        width: 25% !important;
    }
    .update-profile #infoo {
        width: 75% !important;
    }
    .dash-btns .container div {
        width: 100% !important;
    }
    .dash-btns canvas {
        height: 80vh !important;
    
    }
}